@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
* {
    font-family: 'Raleway', 'Manrope', sans-serif !important;
}

/* Hide buttons under the calendar */
.css-hlj6pa-MuiDialogActions-root {
    display: none !important;
}

/* Hide pencil button next to date title */
.css-z3au5x-MuiButtonBase-root-MuiIconButton-root-MuiPickersToolbar-penIconButton {
    display: none !important;
}

/*  */
.css-118r9cm-MuiSvgIcon-root-MuiPickersCalendarHeader-switchViewIcon {
    display: none !important;
}

/* Hide down arrow button next to month */
.css-12mkn7b-MuiButtonBase-root-MuiIconButton-root-MuiPickersCalendarHeader-switchViewButton {
    display: none !important;
}

/* Month name and year*/
.css-10fao8b-MuiPickersCalendarHeader-labelContainer {
    pointer-events: none !important;
}

/* Remove select date title above date */
.css-1hbyad5-MuiTypography-root {
    display: none !important;
}

/* Date title font size */
.css-3jvy96-MuiTypography-root-MuiDatePickerToolbar-title {
    font-size: 2.5rem !important;
}

/* Month title styling */
.css-dplwbx-MuiPickersCalendarHeader-label {
    font-size: 1.5rem !important;
    margin-bottom: 2px !important;
}

/* Initials of week days M, T, ... F, S */
.css-raiqh1-MuiTypography-root-MuiDayPicker-weekDayLabel{
    font-size: 1rem !important;
}

.css-ghi3gg-MuiDayPicker-weekContainer {
    margin: 2px 0 !important;
}

/* Month number circles styling */
.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root {
    margin: 3px 3px !important;
    font-size: 1rem !important;
}

/* Calendar background color */
.css-xelq0e-MuiPickerStaticWrapper-content{
    background-color: transparent !important;
}

/* Selected day styling */
.css-195y93z-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
    background-color: #8F867E !important;
    color: white !important;
}

/* Border color of selected day circle */
.css-195y93z-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected) {
    border-color: #8F867E !important;
}

/* Other days circles color when they are being clicked */
.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
    background-color: #8F867E !important;
}
