#life-image {
    width: 100% !important;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    position: fixed;
    filter: brightness(85%);
}

.life-container {
    height: 70vh;
    width: 100%;
    position: relative;
    object-fit: contain;
}

.life-container .life-content {
    background: rgba(255, 255, 255, .6);
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.life-title {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

.life-container .life-content h1 {
    font-size: 4rem;
    color: #000;
}

.life-container p {
    font-size: 1.6rem;
    font-weight: 200;
    color: #000;
}

.life-img {
    max-width: 450px;
    margin-bottom: 1rem;
}

/*@media screen and (max-width: 640px) {*/
/*    .life-content h1 {*/
/*        font-size: 3rem;*/
/*    }*/

/*    .life-content p {*/
/*        font-size: 1.4rem;*/
/*        margin-bottom: 1.6rem;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 640px) {*/

/*}*/

@media screen and (max-width: 1240px) {
    .life-title h1 {
        font-size: 3.2rem !important;
        transition: .3s;
    }

}

/*LOGIN ALERT STYLING*/
.reset-title, .remove-title {
    font-size: 1.1rem;
    font-weight: lighter;
}

.reset-input {
    padding: 0 1rem;
    font-size: 1.1rem;
    font-family: 'Raleway', 'Nirmala UI', serif;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 25px;
    color: #000;
    max-width: 330px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.font-input {
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    font-family: 'Raleway', serif;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 25px;
    color: #000;
    max-width: 330px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}


.reset-container,
.remove-container {
    background: rgba(255, 255, 255, .9);
    border-radius: 20px;
    max-width: 400px;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.reset-container .reset-confirm,
.remove-container .remove-confirm{
    background-color: rgba(143, 134, 126, .9);
    border-radius: 20px;
    width: 90px;
}

.reset-container .reset-confirm:hover,
.remove-container .remove-confirm:hover {
    background-color: rgba(143, 134, 126, .5);
}

.reset-container .reset-cancel, .remove-container .remove-cancel{
    background-color: rgba(143, 134, 126, .9);
    border-radius: 20px;
    width: 90px;
}

.reset-container .reset-cancel:hover,
.remove-container .remove-cancel:hover {
    background-color: rgba(143, 134, 126, .5);
}

.reset-container-ok {
    background: rgba(255, 255, 255, .9);
    border-radius: 20px;
    max-width: 400px;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.reset-title-ok {
    font-size: 1.1rem;
    font-weight: lighter;
}

.reset-container-ok .reset-ok {
    background-color: rgba(143, 134, 126, .9);
    border-radius: 20px;
    width: 90px;
}

.remove-title {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

