@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

label {
    color: #000;
}

form {
    display: flex;
    flex-direction: column;
    padding: 9rem;
    margin: auto;
    width: 30%;
    background: rgba(255, 255, 255, .6);
    align-items: center;
    border-radius: 25px;
}

form label, p {
    margin-bottom: .7rem;
    max-width: 600px;
    font-size: 1.1rem;
}

form input, textarea {
    max-width: 320px;
    margin-bottom: 2rem;
    padding: 0.6rem 1rem;
    font-size: 1.2rem;
    font-family: 'Raleway', 'Nirmala UI', serif;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #000;
}