@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

label {
    color: #000;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 7rem;
    margin: auto;
    width: 25%;
    background: rgba(255, 255, 255, .7);
    align-items: center;
    border-radius: 25px;
}

.login-form label {
    margin-bottom: .7rem;
    max-width: 600px;
    font-size: 1.1rem;
}

p {
    margin-top: .7rem;
    font-size: 0.9rem;
}

u {
    cursor: pointer;
}

.login-form input, textarea {
    max-width: 320px;
    margin-bottom: 2rem;
    padding: 0.6rem 1rem;
    font-size: 1.2rem;
    font-family: 'Raleway', 'Nirmala UI', serif;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #000;
}

.login-logo {
    max-width: 230px;
    margin-bottom: 2rem;
}
