.header {
    position: fixed;
    width: 99.9%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    z-index: 10;
}

.header-bg {
    background: rgba(255, 255, 255, .7);
    transition: .5s;
}

.nav-logo {
    max-width: 150px;
    margin-bottom: 1rem;
}

.nav-menu {
    display: flex;
}

.nav-menu li {
    padding: 0 1rem;
}

.nav-menu li:hover {
    border-bottom: 2px solid #8F867E;

}

.nav-menu a {
    font-size: 1.2rem;
    font-weight: 500;
}

.hamburger {
    display: none;
}

.hamburger:hover {
    cursor: pointer;
}

@media screen and (max-width: 1240px) {
    .hamburger {
        transition: .3s;
        display: block;
    }

    .nav-menu {
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        text-align: center;
        width: 100%;
        height: 100vh;
        transition: 0.3s;
        z-index: -1;
        background: rgba(255, 255, 255, .9);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-menu li {
        padding: 1rem 0;
        width: 100%;

    }

    .nav-menu li:hover {
        transition: .3s;
        border-bottom: none;
        background: rgba(192, 190, 179, .6);
        cursor: pointer;
    }

    .nav-menu a {
        font-size: 1.5rem;
    }

    .dropdown {
        display: none;
    }

}

@media screen and (min-width: 1240px) {
    .burger {
        display: none;
    }
}


.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 1.2rem;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropbtn:hover {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 6px;
    top: 62px;
    background-color: rgba(255, 255, 255, .6);
    min-width: 30px;
    z-index: 1;
    transition: 0.3s;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 2px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 1.1rem;
}

.dropdown-content a:hover {
    background-color: rgba(192, 190, 179, .3);
    /*border-bottom: 2px solid #8F867E;*/
}

.dropdown:hover .dropdown-content {
    transition: .3s;
    display: block;
}

