.quotes {
    width: 100%;
    padding: 6rem 0;
    background: rgba(255, 255, 255, .6);
    text-align: center;
}


.quotes .quote-title {
    font-size: 2rem;
}

.quotes .quote-text {
    transition: .3s;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    font-size: 3.3rem;
}

.quotes .quote-who {
    font-style: italic;
    font-size: 1.5rem;
}

@media screen and (max-width: 1240px) {

    .quote-text {
        font-size: 2.5rem !important;
        transition: .3s;
    }

}