@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h4, p, a {
    color: #000;
}

body {
    margin: 0;
    font-family: 'Raleway', 'Nirmala UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: #fff;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
    font-family: 'Raleway', 'Nirmala UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    padding: 12px 32px;
    font-size: 1.2em;
    background: rgba(255, 255, 255);
    color: #000;
    border: 1px;
    cursor: pointer;
    border-radius: 30px;
}


.btn:hover {
    background: rgba(255, 255, 255, .5);
}